@import url('https://fonts.googleapis.com/css2?family=League+Gothic&display=swap');

$primaryFont: League Gothic, comic, sans-serif;

$primaryColour: #1B93C5;
$secondaryColour: #737373;

* {
    padding: 0;
    margin: 0;
}