@use "../../assets/scss/variables" as *;

.cardListContainer {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 70vw;
  height: 70vh;
  overflow-x: auto;
}

@media screen and (min-width: 820px) {
  .cardListContainer {
    width: 60vw;
  }
}