@use "../../assets/scss/variables" as *;

.beerCard {
  display: flex;
  flex-wrap: wrap;
  width: 50vw;
  max-width: 50vw;
  height: 25vh;
  max-height: 25vh;
  margin: 20px;
  background-color: #fbfbf8;
  border: 3px solid black;
  border-radius: 5px;
  overflow: hidden;
  overflow-y: auto;

  &__heading {
    margin: auto;
    font-size: medium;
  }
  &__content {
    overflow: hidden;
    overflow-y: auto;
  }

  &__img {
    margin: auto;
  }
}

@media screen and (min-width: 768px) {
  .beerCard{
    width: 32vw;
  }
}

@media screen and (min-width: 1025px) {
  .beerCard{
    width: 20vw;
  }
}