@use "../../assets/scss/variables" as *;

.beerCard {
  display: flex;
  flex-wrap: wrap;
  width: 50vw;
  height: 20vh;
  margin: 40px;
  border: 3px solid black;
  overflow: hidden;
  overflow-y: auto;

  &__heading {
    margin: auto;
    font-size: medium;
  }
  &__content {
    overflow: hidden;
    overflow-y: auto;
  }

  &__img {
    margin: auto;
  }
}
