@use "../../assets/scss/variables" as *;

.navBar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 25vw;
    height: 70vh;
    margin: auto;
}

@media screen and (min-width: 820px) {
    .navBar{
        margin: 10px;
        width: 25vw;
    }
}

@media screen and (min-width: 1201px) {
    .navBar {
        width: 15vw;
    }
  }