@use "../../assets/scss/variables" as *;

.beer-info {
  margin: auto 30px;
  position: relative;
  width: 70vw;
  height: 90vw;
  &__container {
    display: flex;
    margin: 60px auto;
    padding: 20px;
    overflow: hidden;
    overflow-y: auto;
    width: 50vw;
    height: 60vw;
    border: 2px solid $quaternaryColour;
    border-radius: 15px;
    background-color: $senaryColour;
  }

  &__cross {
    position: absolute;
    height: 25px;
    width: 25px;
    right: 30px;
    top: 15px;
  }

  &__tagline {
    margin-bottom: 10px;
  }

  &__facts {
    list-style: none;
    font-family: $secondaryFont;
  }

  &__img {
    margin: auto;
    margin-bottom: 100px;
    max-width: 10vh;
    height: 20vh;
  }

  &__heading {
    flex-direction: column;
    margin: auto;
    font-size: 50px;
    font-family: $primaryFont;
  }

  &__content {
    margin: auto;
    font-family: $secondaryFont;
  }
}

@media screen and (min-width: 1024px) {
  .beer-info {
    width: 40vw;
    height: 30vw;
    &__container {
      width: 30vw;
      height: 20vw;
    }
    &__img {
      margin-bottom: 200px;
    }
  }
}
